.content1{
    justify-self: center;
    width: 100%;
    margin: 20dvh 0 0 0;
    position: relative;
    z-index: 1;
}
.react-section1{
    background-color: var(--background-color2);
    backdrop-filter: blur(10px);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.position{
    position: absolute;
    top: -200px;
}
.tittle1{
    font-size: 22dvh;
    position: absolute;
    left: -200px;
    top: -150px;
    z-index: -1;
    color: var(--secondary-color);
    opacity: .1;
}
.classification-ul1{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.classification-ul1 li{
    width: 33.3%;
    text-align: center;
    list-style: none;
    background-color: rgba(68, 49, 120, 0.921);
    cursor: pointer;
    padding: 10px 0;
    font-size: 20px;
    transition: .5s;
}

.active{
    background-color: var(--background-color2) !important; 
    backdrop-filter: blur(10px);
    color: rgb(197, 179, 255);
    font-weight: 600;
}

.classification-ul1 li:hover{
    background-color: var(--background-color2);
    backdrop-filter: blur(10px);
    transition: .5s;
}

@media (max-width: 980px){
    .classification-ul1 li{
        font-size: 10px;
        text-wrap: nowrap;
        overflow: hidden;
    }
}   